{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Connexion</title>
    <link rel="stylesheet" href="{% static 'css/reset.css' %}" />
    <link rel="stylesheet" href="{% static 'css/signin.css' %}" />
  </head>
  <body>
    <header>
      <div class="content-wrapper">
        <!-- <a class="back-home" href="#">Retour</a> -->
        <h2>Connexion</h2>
        <form method="post">
          {% csrf_token %} {{ form.as_p }}
          <button type="submit">Se connecter</button>
        </form>
      </div>
    </header>
  </body>
</html>
