<!-- signup.html -->
<!DOCTYPE html>
<html>
  <head>
    <title>Inscription</title>
  </head>
  <body>
    <h2>Inscription</h2>
    <form method="post">
      {% csrf_token %}
      <div>
        <label for="id_username">Nom d'utilisateur:</label>
        {{ form.username }}
      </div>
      <div>
        <label for="id_password1">Mot de passe:</label>
        {{ form.password1 }}
      </div>
      <div>
        <label for="id_password2">Confirmez le mot de passe:</label>
        {{ form.password2 }}
      </div>
      <button type="submit">S'inscrire</button>
    </form>
  </body>
</html>
