<!-- list_publications.html -->
<!DOCTYPE html>
<html>
  <head>
    <title>Liste des Publications</title>
  </head>
  <body>
    <h1>Liste des Publications</h1>

    <ul>
      {% for publication in publications %}
      <li>
        <h2>{{ publication.title }}</h2>
        <p>{{ publication.summary }}</p>
        <p>Date de publication: {{ publication.publication_date }}</p>

        <!-- Formulaire pour supprimer la publication -->
        <form
          action="{% url 'delete_publication' publication.id %}"
          method="post"
        >
          {% csrf_token %}
          <input type="submit" value="Supprimer" />
        </form>
      </li>
      {% endfor %}
    </ul>
    <a href="{% url 'home' %}">Retour à l'accueil</a>
  </body>
</html>
