{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Liste des Publications</title>
    <link rel="stylesheet" href="{% static 'css/reset.css'%}" />
    <link rel="stylesheet" href="{% static 'css/publication_list.css'%}" />
  </head>
  <body>
    <header>
      <nav>
        <a href="{% url 'home'%}">
          <img
            src="{% static 'images/logo.png' %}"
            alt="Logo de l'application"
          />
        </a>
        <ul>
          <li>
            <a href="{% url 'projects_list' %}">projets</a>
          </li>
          <li>
            <a href="{% url 'publication_list' %}">publications</a>
          </li>
          <li>
            <a href="{% url 'researchers_list' %}">chercheurs</a>
          </li>
          <li><a href="#"> Contact </a></li>
          <li><a href="#"> À propos </a></li>
        </ul>
      </nav>
    </header>
    <section>
      <h1>Liste des Publications</h1>

      <ul>
        {% for publication in publications %}
        <li>
          <h2>{{ publication.title }}</h2>
          <p>{{ publication.summary }}</p>
          <p>
            <span class="publication-date"> Date de publication:</span>
            {{ publication.publication_date }}
          </p>

          <!-- Formulaire pour supprimer la publication -->
          <form
            action="{% url 'delete_publication' publication.id %}"
            method="post"
          >
            {% csrf_token %}
            <input type="submit" value="Supprimer" />
          </form>
        </li>
        {% endfor %}
      </ul>
    </section>
  </body>
</html>
