<!-- list_researchers.html -->
<!DOCTYPE html>
<html>
  <head>
    <title>Liste des Chercheurs</title>
  </head>
  <body>
    <h1>Liste des Chercheurs</h1>

    <ul>
      {% for researcher in researchers %}
      <li>
        <h2>{{ researcher }} {{researcher.specialty}}</h2>

        <!-- Formulaire pour supprimer le chercheur -->
        <form
          action="{% url 'delete_researcher' researcher.id %}"
          method="post"
        >
          {% csrf_token %}
          <input type="submit" value="Supprimer" />
        </form>
      </li>
      {% endfor %}
    </ul>
    <a href="{% url 'home' %}">Retour à l'accueil</a>
  </body>
</html>
